body {
	margin-bottom: 1000px
}

p {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.sidebar-1 {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 70px;
	background-color: rgb(46, 46, 46);

	display: flex;
	flex-direction: column;
	justify-content: start;
	padding-top: 20px;
	align-items: center;
}

.sidebar-img {
	width: 45px;
	height: 45px;
	object-fit: cover;
	border-radius: 30px;
	margin-bottom: 8px;
	flex-shrink: 0;
}

.sidebar-2 {
	position: fixed;
	top: 0;
	left: 70px;
	bottom: 0;
	width: 150px;
	background-color: rgb(56, 55, 55);
	padding-top: 15px;
	padding-left: 13px;
}

.sidebar-2-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.info {
	font-weight: bold;
	font-size: 10px;
}

.button-info {
	margin-right: 10px;
	color: rgb(163, 163, 163);
	background-color: transparent;
	border-style: none;
	font-size: 20px;
}

.sidebar-2-hashtag {
	color: rgb(163, 163, 163);
	margin-bottom: 15px;
	font-size: 12px;
}